{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">

      <div class="col-lg-10 col-md-12">
      <!-- 上排圖表 -->
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">行程表分析</h5>
                    <h2 class="card-title">績效統計</h2>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-primary btn-simple active" id="0">
                        <input type="radio" name="options" checked>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">每日完成率</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="1">
                        <input type="radio" class="d-none d-sm-none" name="options">
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">每日效率</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="2">
                        <input type="radio" class="d-none" name="options">
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">緊急程度分布</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="3">
                        <input type="radio" class="d-none" name="options">
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">緊急程度效率分布</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartBig1"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 中間圖表 -->
        <div class="row">
          <div class="col-lg-5">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">事件統計</h5>
                <h2 class="card-title">未完成事項</h2>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter">
                        <thead class="text-primary">
                            <tr>
                                <th scope="col"> 事件名稱 </th>
                                <th scope="col"> 事件日期 </th>
                                <th scope="col"> 預估時間</th>
                                <th scope="col"> 緊急程度 </th>
                                <th scope="col"> 完成 </th>
                                <th scope="col"> 刪除 </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in eventlist %}
                            <tr scope="row">
                                <td text-align: center>{{ event.eventname }}</td>
                                <td>{{ event.eventdate }} </td>
                                <td>{{ event.predtime }} 小時</td>
                                <td>{{ event.emerge }} </td>
                                <td><button class="btn btn-primary">完成</button></td>
                                <td><button class="btn btn-primary">刪除</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">時間統計</h5>
                <h2 class="card-title">每日可用時間</h2>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter">
                        <thead class="text-primary">
                            <tr>
                                <th scope="col"> 事件日期 </th>
                                <th scope="col"> 時間</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for time in dailyfreetime %}
                            <tr scope="row">
                                <td text-align: center>{{ time.timedate }}</td>
                                <td>{{ time.freetime }} 小時</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">事件統計</h5>
                <h2 class="card-title">已完成事項</h2>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter">
                        <thead class="text-primary">
                            <tr>
                                <th scope="col"> 事件名稱 </th>
                                <th scope="col"> 事件日期 </th>
                                <th scope="col"> 預估時間</th>
                                <th scope="col"> 完成時間 </th>
                                <th scope="col"> 緊急程度 </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comevent in comeventlist %}
                            <tr scope="row">
                                <td text-align: center>{{ comevent.eventname }}</td>
                                <td>{{ comevent.eventdate }} </td>
                                <td>{{ comevent.predtime }} 小時</td>
                                <td>{{ comevent.costtime }} 小時</td>
                                <td>{{ comevent.emerge }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-2 col-md-12">


        <div class="card newevent">
          <div class="card-header ">
            <h4 class="card-title">每日可用時間/建立事件</h4>
          </div>
          <div class="card-body">
            {% csrf_token %}
            <form role="form" method="post" action="newfreetime/">             

              <div class="TimeInput" id="TimeInput">
                  <label for="timedate" class="form-label">
                    <h5>日期</h5>
                  </label>                                   
                  {{ timeForm.timedate }}

                  <label for="freetime" class="form-label">
                    <h5>可用時間</h5>
                  </label>                                   

                  {{ timeForm.freetime }}
                  
                  <div>                                      
                      <button class="btn btn-primary" id="newfreetime">設定可用時間</button>
                  </div>
              </div>        
            </form>

            <hr>
            
            
            <form role="form" method="post" action="newevent/">             


              <div class="mt-4">        
                <label for="eventname" class="form-label">
                  <h5>事件名稱</h5>
                </label>
                {{ eventForm.eventname }}
                <datalist id="datalistOptions">
                  <option value="晨會">
                  <option value="專案討論">
                  <option value="回報">
                  <option value="聚餐">
                </datalist>
              </div>

              <div class="mt-4">        
                <label for="eventdate" class="form-label">
                  <h5>開始時間</h5>
                </label>
                {{ eventForm.eventdate}}
              </div>  

              <div class="mt-4">    
                <label for="eventdate" class="form-label">
                  <h5>預估時間(小時)</h5>
                </label>       
                {{ eventForm.predtime }}
              </div>

              <div class="mt-4 mb-4">
                <label for="eventdate" class="form-label">
                  <h5>緊急程度</h5>
                  </label>       
                {{ eventForm.emerge }}

              </div>
              <button type="submit" class="btn btn-primary" id="newevent">建立事件</button>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
      $("#newevent").click(function() {
        console.log("newevent")
        $.ajax({
          url:"newevent/",
          type:"POST",              
          header:{'X-CSRFToken': Vue.$cookies.get("csrftoken"),'Content-Type':'application/x-www-form-urlencoded'},});
      });
      $("#newfreetime").click(function() {
        console.log("newfreetime")
        $.ajax({
          url:"newfreetime/",
          type:"POST",              
          header:{'X-CSRFToken': Vue.$cookies.get("csrftoken"),'Content-Type':'application/x-www-form-urlencoded'},});
      });
    });

    window.onload = function(){
      var ctx = document.getElementById('chartBig1')
    }

  </script>

{% endblock javascripts %}
